@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
  margin-left: 5em;
}
.title{
  margin-left: 11em;
  margin-top:10px;
}
#formContainer{
  display: flex;
  flex-direction: column;
}
